# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
*.vscode/
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.editorconfig

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
dependency-reducued-pom.xml

# System Files
.DS_Store
Thumbs.db

# Target Paths like Maven.
target/**
control/target/**
control/target/classes/com/pushtechnology/chattutorial/app/SignInHandler.class
control/target/classes/com/pushtechnology/chattutorial/app/SignInHandler$1.class
control/target/classes/com/pushtechnology/chattutorial/app/SignInMessageReciver.class
control/target/classes/com/pushtechnology/chattutorial/app/ChatControlClient.class
control/target/classes/com/pushtechnology/chattutorial/app/SignInHandler$1.class
control/target/surefire-reports/com.pushtechnology.chattutorial.app.AppTest.txt
control/target/surefire-reports/TEST-com.pushtechnology.chattutorial.app.AppTest.xml
control/target/control-1.0-SNAPSHOT.jar
control/target/original-control-1.0-SNAPSHOT.jar


